---
import MainHeading2 from "@components/ui/global/MainHeading2.astro";
import { productData } from "@data/Data";
import type { ProductType } from "../../types/type";
import Card from "@components/ui/Private/Card.astro";
---

<section class="productSlider ">
  <div class="container d-grid gap-10 items-center">
        <!-- text -->
        <MainHeading2 title="عروض للكميات" swiperBtn={true} subtitle="عروض الكميات" Word="الكبيرة"  />
    <!-- slide -->
    <div class="swiper ProductSwiper">
      <div class="swiper-wrapper">
        <!-- slide 1 -->
        
        {
          productData.map((item: ProductType) => (
            <div class="swiper-slide">
              <Card
                title={item.title}
                des={item.des}
                href={item.href}
                img={item.img}
                price={item.price}
                discount={{
                  value: item.discount?.value,
                  newPrice: item.discount?.newPrice,
                }}
              />
            </div>
          ))
        }
        <!-- end slide -->
      </div>
      <!-- <div class="swiper-button-next"></div> -->
      <!-- <div class="swiper-button-prev"></div> -->
    </div>

  </div>
</section>
