---
import BoxSer from "@components/ui/Private/BoxSer.astro";
import {SerBoxData} from "@data/Data";
import type {SerBoxType} from "../../types/type";
---
<section class="section-1 service" aria-label="service section">
    <div class="container">
        <div class="d-grid serviceBox-1 gap-5">
            {
                SerBoxData.map((box:SerBoxType)=>(
                    <BoxSer  title={box.title} des={box.des} icon={box.icon}   />
                ))
            }
        </div>
    </div>
</section>