---
import Card from "@components/ui/Private/Card.astro";
import MainHeading from "@components/ui/global/MainHeading.astro";
import MainHeading2 from "@components/ui/global/MainHeading2.astro";
import { productData } from "@data/Data";
import type { ProductType } from "../../types/type";
import Button from "@components/ui/global/Button.astro";
import { Icon } from "astro-icon/components";
interface Props {
  title: string;
  subtitle?: string;
  // Word?: string;
  sectionName: string;
  Show?: boolean;
  SectionClass?: boolean;
  isLoader?: boolean;
  ClassName?: string;
  HeadType?: boolean;
}
const {
  title,
  sectionName,
  Show = true,
  SectionClass = true,
  isLoader = false,
  ClassName,
  HeadType,
  subtitle 
} = Astro.props;
---

<section
  class=`product ${ClassName} ${SectionClass ? 'section-1' : ''} `
  aria-label={sectionName}
>
  <div class="container">
    {Show && HeadType ? <MainHeading title={title} Show={Show} /> : <MainHeading2 title={title} Show={Show} subtitle={subtitle}  />}
    <div class="d-grid product-1 gap-6">
      {
        productData.map((item: ProductType) => (
          <Card
            title={item.title}
            des={item.des}
            href={item.href}
            img={item.img}
            price={item.price}
            discount={{
              value: item.discount?.value,
              newPrice: item.discount?.newPrice,
            }}
          />
        ))
      }
    </div>
    {
      isLoader && (
        <Button
          type="button"
          aria={`loadMore`}
          ClassName="btnMore d-flex items-center justify-center mx-auto mt-10  ">
          <Icon name={"loader"} size={`28`} />
        </Button>
      )
    }
  </div>
</section>
