---
import MainHeading from "@components/ui/global/MainHeading.astro";
import CateBox from "@components/Cate/cateBox.astro";
import {ClientData} from "@data/Data";
import type {cateBoxType} from "../../types/type";
---

<section class="section-1 cate Client" aria-label="Client">
  <div class="container">
    <MainHeading title="عملائنا" swiperBtn={true} />
    <!-- Swiper -->
    <div class="swiper ClientSwiper">
      <div class="swiper-wrapper">
        {
                ClientData.map((box:cateBoxType)=>(
                <div class="swiper-slide">
                    <CateBox  img={box.img} isCate={false} />
                </div>
                ))
            
        }

      </div>
      
      
    </div>
  </div>
</section>