---
interface Props {
  ClassName: string;
  type: "submit" | "reset" | "button";
  aria: string | any;
  id?: string;
  ariaEx?: boolean | any;
  controll?: string | any;
  style?: string;
}
const { ClassName, type, aria, id, ariaEx, controll,style,...rest } = Astro.props;
---

<button
  class:list={`btn ${ClassName}`}
  type={type}
  aria-label={aria}
  id={id}
  aria-expanded={ariaEx}
  aria-controls={controll}
    style={style}
    {  ...rest}
>
  <slot />
</button>
